@import "tailwindcss";

@theme {
  --color-primary: #354F52;
  --color-secondary: #52796F;
  --color-accent: #84A98C;
  --color-background: #2F3E46;
  --color-text: #EEF7E8;

  --font-heading: "Lora", serif;
  --font-body: "Open Sans", sans-serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-body);
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-heading);
}
